h1 {
  color: lightgoldenrodyellow;
  font-size: 50px;
  font-family: lobster;
  border-style: solid;
  border-color: orangered;
  border-width: 10px;
    
  text-align: center;
  border-radius: 60px;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

header {
  background-image: url(img/bg_header.jpg);
  height: 250px;
  padding-top: 10px;
}

.setsumei {
  font-size: 20px;
  color: maroon;
  background: rgba(255,255,255,0.55);
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
}

.kensaku {
  background-image: url(img/bg.jpg);
  color: #663300;
  padding: 10px;
}

.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.kensaku img {
  float: right;
}




/*＝＝＝＝＝ 地域に残る曲名の検索 ＝＝＝＝＝＝ */
.guideText {
  color: maroon;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  margin: 50px;
}

.searchBox {
  margin-left: 150px;
  width: 850px;
  height: 850px;
  border-style: solid;
  border-color: green;
  border-width: 10px;
    
  text-align: center;
  border-radius: 60px;
  padding: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  background-image: url(img/bg_arabesque.jpg);
}

.searchBox div {
  display: inline-block;
  vertical-align: top;
}

/*都道府県の名前*/
.prefecturesNameBox {
  margin-left: 150px;
}

.inputText {
  height: 20px;
}

/*地域に残る曲名*/
.musicNameBox {
  margin-left: 150px;
}

.outputText {
  font-size: 30px;
}



